#barramenu {
    background: #143877;
}

.nav-item a {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.3em;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #b3ebff !important;
        transform: scale(1.05);
    }

    &:i {
        color: #fff;

        &:hover {
            color: #b3ebff !important;
            transform: scale(1.05);
        }
    }
}