body{
    background: #F5F5DC;
    box-sizing: border-box;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo{
    text-align:center;
    padding-top: 20px;
    font-weight: bold;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.introduccion{
  text-align: justify;
  margin: 25px;
  font-size: 20px;
}
.accordion-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold ;
    font-size: 20px;
}

.preguntas{
    padding: 25px;
}