#captchaImage {
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 60%;
  height: auto;
  max-width: 200px;
  max-height: 100px;

  &:hover {
    cursor: pointer;
    transform: scale(1.045);
  }
}

#changeCaptcha {
  font-size: 1.2rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  margin-left: 0.2rem;
  margin-right: 0.5rem;
  /* hacer el tamaño un cuadrado */
  width: 2.5rem;
  height: 2.5rem;
  /* alinear sus elementos hijos al centro */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* desabilidar el focus del boton */
  &:focus {
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.rotate-left {
  animation: rotate-left 0.3s ease-in;
  background: #015adf !important;
  color: #fff !important;
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(-180deg) scale(1.1);
  }

  100% {
    transform: rotate(-360deg) scale(1);
  }
}