body {
    background: #F5F5DC;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

hr {
    border-top: 4px double #8c8b8b;
    text-align: center;

    &::after {
        content: '\002665';
        display: inline-block;
        position: relative;
        top: -15px;
        padding: 0 10px;
        background: #f0f0f0;
        color: #8c8b8b;
        font-size: 18px;
    }
}

.myCard {
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-width: 460px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.757);
    margin: 0px;
    border-radius: 20px;
    background: #e8f1ff;
    transition: all 1s ease;

    &:hover {
        /* hacer la sombra mas intensa y visible */
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 5);
        z-index: 3;
    }
}

.cardHeader {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    background: #abb6be;
    overflow: hidden;

    &>img {
        position: relative;
        top: 0;
        left: 0;
        margin: 0px;
        display: block;
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0px 0px;
        transition: all 0.75s ease;
    }

    &>.descuento {
        position: absolute;
        top: 0;
        left: 0;
        background: #e3f2fc;
        padding: 0.2em;
        font-size: 1.2em;
        font-weight: 700;
        border-radius: 20px 10px 10px 0px;
    }

    &>.overlay {
        border-radius: 15px 15px 0px 0px;
        font-size: 1.4em;
        position: absolute;
        bottom: -5%;
        left: 0;
        width: 100%;
        padding: 0.2em;
        text-align: center;
        opacity: 0;
        color: #ffffff;
        transform: scaleY(0);
        transition: all 0.75s ease;
    }

    &:hover {
        &>.overlay {
            opacity: 1;
            border-radius: 15px 15px 0px 0px;
            background: rgba(0, 0, 0, 0.624);
            bottom: 0%;
            transform: scaleY(1);
        }

        &>img {
            transform: scale(1.2);
            filter: grayscale(0.5);
        }
    }
}

.cardBody {
    padding: 3em;
    padding-bottom: 1.5em;

    &>h3 {
        text-align: center;
        font-size: 1.2em;
        font-weight: 700;
        color: #000000;
    }

    &>small {
        position: relative;
        left: 45%;
        text-align: center;
        font-size: 0.9em;
        font-weight: 400;
        color: #000000;
    }

    &>p {
        font-size: 0.9em;
        font-weight: 400;
        padding-left: 0.2em;
        color: #000000;
        text-align: justify;
    }

    &>.price {
        align-items: center;
        margin: auto;
        background-color: skyblue;
        padding: 8px 10px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
    }

    &>.out-stock {
        background-color: #9a0909;
        color: #ffffff;
        font-weight: 700;
    }

    &.existencias {
        text-align: center;
    }
}

.cardFooter {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;

    &>* {
        z-index: 2;
    }

    &>a {
        text-decoration: none;
        color: #ffffff;
        background: #121212;
        font-size: 18px;
        font-weight: 900;
        padding: 10px 20px;
        border-radius: 25px;
        transition: all 0.5s ease;
        padding: 10px;
        margin: 0px;
    }

    &>a:hover {
        transform: scale(1.2);
        color: antiquewhite;
    }
}