body {
    background: #F5F5DC;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

hr {
    border-top: 4px double #8c8b8b;
    text-align: center;

    &::after {
        content: '\002665';
        display: inline-block;
        position: relative;
        top: -15px;
        padding: 0 10px;
        background: #f0f0f0;
        color: #8c8b8b;
        font-size: 18px;
    }
}

.myCard {
    min-height: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.757);
    margin: 0px;
    border-radius: 0.5em;
    background: #e8f1ff;
    transition: all 1s ease;

    &:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1);
        transform: scale(1.1);
    }
}

.cardHeader {
    position: relative;
    border-radius: 0.5em 0.5em 0px 0px;
    min-height: 100px;

    &>img {
        position: relative;
        margin: 0px;
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0.5em 0.5em 0px 0px;
    }

    &>.descuento {
        position: absolute;
        top: 0;
        left: 0;
        background: #e3f2fc;
        padding: 0.2em;
        font-size: 1.2em;
        font-weight: 700;
        border-radius: 0.5em 0.5em 0.5em 0px;
    }

    &>.overlay {
        border-radius: 0.5em 0.5em 0px 0px;
        font-size: 1.4em;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.2em;
        text-align: center;
        opacity: 0;
        color: #ffffff;
        transform: scaleX(0) translateY(50%);
        transition: all 0.75s ease;
    }

    &:hover .overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.624);
        transform: scaleX(1) translateY(0%);
    }
}

.cardBody {
    padding: 0.3em;
    margin: 0px;

    &>h3 {
        font-size: 1.2em;
        font-weight: 700;
        margin: 0px;
        color: #000000;
    }

    &>p {
        font-size: 0.9em;
        font-weight: 400;
        margin: 10px;
        color: #000000;
    }

    &>span {
        background-color: skyblue;
        padding: 8px 10px;
        border-radius: 30px;
        font-weight: 400;
        font-size: 14px;
    }
}

.cardFooter {
    margin-top: 0.2em;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 0px;

    &>* {
        z-index: 2;
    }

    &>a {
        text-decoration: none;
        color: #ffffff;
        background: #121212;
        font-size: 18px;
        font-weight: 900;
        padding: 10px 20px;
        border-radius: 25px;
        transition: all 0.5s ease;
        padding: 10px;
        margin: 0px;
    }

    &>a:hover {
        transform: scale(1.2);
        color: antiquewhite;
    }
}